<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<app>
<h1>Webpack Setup</h1>
    <nav>
        <ul>
            <li><img src="/src/image/icon/bread-white.webp" alt=""></li>
            <li><img src="/src/image/icon/desert-write.webp" alt=""></li>
            <li><img src="/src/image/icon/fish-white.webp" alt=""></li>
            <li><img src="/src/image/icon/salad-white.webp" alt=""></li>
            <li><img src="/src/image/icon/sandwich-white.webp" alt=""></li>
            <li><img src="/src/image/icon/soup.webp" alt=""></li>
        </ul>
    </nav>
</app>
</body>
</html>
